// Output (monitor) configuration.
// Run `niri msg outputs` to find your output names and modes.
// https://niri-wm.github.io/niri/Configuration:-Outputs

// Main monitor: ViewSonic XG2405, 1080p 144Hz with VRR
    //@ HDMI
// output "HDMI-A-1" {
//     mode "1920x1080@144.000"
//     scale 1
//     position x=0 y=0
//     variable-refresh-rate on-demand=true
//     focus-at-startup
//     hot-corners {
//         bottom-left
//     }
// }

    //@ DP
output "DP-1" {
    mode "1920x1080@144.001"
    scale 1
    position x=0 y=0
    variable-refresh-rate on-demand=true
    focus-at-startup
    hot-corners {
        bottom-left
    }
}

// Second monitor: Samsung TV, 720p 60Hz
output "DP-3" {
    off
    mode "1360x768@60.015"
    //mode "1920x1080@60.000"
    transform "90"
    position x=1920 y=-140
    scale 1
    hot-corners {
        bottom-left
    }
}

// Third monitor: HP P222va, 1080p 60Hz
output "DP-2" {
    off
    mode "1920x1080@60.000"
    scale 1
    position x=-1920 y=0
    }


// Laptop
output "eDP-1" {
    mode "1920x1080@60.000"
    hot-corners {
        bottom-left
    }
}

// Virtual Machine
output "Virtual-1" {
    mode "1920x1080@60.000"
    hot-corners {
        bottom-left
    }
}
