layout {

    focus-ring {
        active-color   "#e46b67"
        inactive-color "#291414"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#e46b67"
        inactive-color "#291414"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#e46b67"
        inactive-color "#851714"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#e46b6780"
    }
}

recent-windows {
    highlight {
        active-color "#e46b67"
        urgent-color "#fd4663"
    }
}
